* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: url(../images/ques1tion.webp);

}

header {
  background-color: #f307072a;
  color: #f4f0f0;
  text-align: center;
  padding: 2rem;
  font-size: 20px;
  z-index: 1; /* Ensure header is above video */
    position: relative;
}
header h1{
  font-weight: 800;
  font-size: 40px;
}

#logout-btn {
  position: absolute;
  top: 30px;
  right: 10px;
  background-color:yellow;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  height: 50px;
  width: 80px;
}

#logout-btn:hover {
  background-color: #c0392b;
}

.category-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  margin-top: 110px;
  z-index: 1; 
}

.category {
  flex-basis: 30%; /* Ensure equal width for three boxes */
  height: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.category:hover {
  transform: scale(1.05);
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin-top: 58px;
}

.easy  {
  background:url(../images/neweasy.jpeg);
  background-size: cover;

   ;/* Green color for Easy */
}

.medium  {
  background:url(../images/medium.jpeg);
  background-size: cover; /* Yellow color for Medium */
}

.hard  {
  background:url(../images/hard1.jpeg);
  background-size: cover; /* Red color for Hard */
}
