<link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reel & Riddles</title>
    <link rel="stylesheet" href="./css/mlevel.css">
</head>
<body>

   
    <header>
        <h1>Levels Page</h1>
        <a href="./category"><button id="logout-btn">Back</button></a>
    </header>

    <div class="category-container">
        <div class="category easy" onclick="navigateToGame('./alevel1')">
       
        </div>

        <div class="category medium" onclick="navigateToGame('./alevel2')">
            
        </div>

        <div class="category hard" onclick="navigateToGame('./alevel3')">
          
        </div>
    </div>

    <script>
        function navigateToGame(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>
