<link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Reel & Riddles</title>
  <link rel="stylesheet" href="./css/quiz.css">
  <style>
    header {
      position: relative;
    }

    #exit-btn, #more-games-btn {
      position: absolute;
      top: 40px;
      right: 10px;
      padding: 8px 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    #more-games-btn {
      right: 100px; /* Adjust the position to your preference */
    }
  </style>
</head>
<body>

  <header>
    <h1>Category Page</h1>
    <a href="/"><button id="exit-btn">Exit</button></a>
    <button id="more-games-btn">More Games</button>
  </header>

  <div class="category-container">
    <div class="category">
      <a href="./mlevel"><img src="./images/marvel.jpeg" alt="Category 1"></a>
    </div>

    <div class="category">
      <a href="./clevel"><img src="./images/cartoon.png" alt="Category 2"></a>
    </div>

    <div class="category">
      <a href="./klevel"><img src="./images/kdrama (1).jpeg" alt="Category 3"></a>
    </div>

    <div class="category">
      <a href="./alevel"><img src="./images/anime.png" alt="Category 4"></a>
    </div>
  </div>

  <h2 class="marvel">K-Drama</h2>
  <h2 class="cartoon">Marvel</h2> 
  <h2 class="kdrama">Cartoon</h2> 
  <h2 class="anime">Anime</h2>

  <script>
    // Function to handle the exit button click
    document.getElementById('exit-btn').addEventListener('click', function() {
      window.location.href = "/"; 
    });

    // Function to handle the more games button click
    document.getElementById('more-games-btn').addEventListener('click', function() {
      window.location.href = './mlevel5'; // Replace 'more-games.html' with the URL of your more games page
    });
  </script>

</body>
</html>
