<link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Reel & Riddles</title>
  <link rel="stylesheet" href="./css/mlevel1.css"> <!-- You can link to a separate CSS file for styling -->
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background:url(./images/moregames.jpg);
    }

    header {
      position: relative;
      background-color: #007bff;
      color: white;
      padding: 5px;
      text-align: center;
    }

    #exit-btn {
      position: absolute;
      top: 30px;
      right: 20px;
      background-color: #dc3545;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    .game-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 100px;
    }

    .game {
      margin: 10px;
      text-align: center;
    }

    .game img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .game h2 {
      margin: 0;
    }
  </style>
</head>
<body>

  <header>
    <h1>More Games</h1>
    <a href="./category"><button id="exit-btn">Exit</button></a>
  </header>

  <div class="game-container">
    <div class="game">
      <a href="./quiz"><img src="./images/quiz.png" alt="Game 1"></a>
      <h2>Rock Paper Scissors</h2>
    </div>

    <div class="game">
      <a href="./mlevel6"><img src="./images/tictactoe.avif" alt="Game 2"></a>
      <h2>Tic Tac Toe</h2>
   
    </div>
   

    <!-- Add more games as needed -->
  </div>

  <script>
    // Function to handle the exit button click
    document.getElementById('exit-btn').addEventListener('click', function() {
      window.location.href = './home-page.html'; // Replace 'home-page.html' with your home page URL
    });
  </script>

</body>
</html>
